.ipynb_checkpoints
*.bak
**/Data/**/*.txt
**/data/**/*.txt
**/Data/**/*_data.csv
data/margin_statistics/data/~$margin-statistics.xlsx
*.txt
*.pyc
*.Identifier
*.zip
insiders/data/sec-edgar-filings/**/*.xml
data/edgar/sec_data/
data/tiingo/data/
data/edgar/fundamentals/
